@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Righteous&family=Roboto&display=swap');


:root { 
    --primary-color: #325288; 
    --secondary-color: #F4EEE8;
    --accent-color: #F5CEBE;
    --secondary-accent-color: #114E60;
    --primary-font: 'Oswald', sans-serif;
    --secondary-font: 'Righteous', cursive;
}