main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Bpp {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.calculator {
  width: 100%;
  max-width: 400px;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-more);
  overflow: hidden;
  box-shadow: 0 0 1em 1em var(--shadow);
}

.display {
  padding: 30px;
  text-align: right;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  font-size: var(--header);
  font-weight: 300;
}

.display span {
  font-size: var(--plain-text);
  color: #888;
}

button {
  appearance: none;
  border: none;
  outline: none;
  color: var(--accent-color);
  font-size: var(--header);
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  background-color: rgb(190, 190, 190);
}

.operators button {
  flex: 1, 1, 0%;
  background-color: var(--secondary-color);
  width: 500000px;
}

.operators {
  display: flex;
  gap: 12px;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}

.digits button {
  flex: 1 1 33.333%;
  max-width: 33.333%;
  height: 10vh;
  background-color: var(--secondary-color);
  border: 1px solid var(--shadow);
}

.del {
  background-color: aqua !important;
}

.sub {
  background-color: rgb(238, 61, 61) !important;
}

.text {
  display: flex;
  align-items: flex-start;
}
.whole{
  font-size: var(--plain-text);
  margin: 3vw;
  color: var(--accent-color);
}
.try {
  margin: auto;
  font-weight: bold;
text-align: center;
margin: 2vw;
}
.quote{
  font-style: italic;
margin-bottom: 8vw;
font-size: var(--header);
}
