.main{
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--primary-font);

}

.main > * {
  transition: all 0.6s ease-in-out;
  border-radius: 10px;
}


.main > *:hover {
  transform: scale(1.1);
}

.main>* {
  height: 70vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.math{
  background-color: cornflowerblue;
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.math > p {
  text-align: left;
  font-weight: bold;
  font-size: 4vw;
}

.physics > p {
  text-align: left;
  font-weight: bold;
  font-size: 4vw;
}
.chemistry > p {
  text-align: left;
  font-weight: bold;
  font-size: 4vw;
}

.physics{
background-color: darkorange;
display: inline-block;
font-size: 20px;
padding: 20px;
}
.chemistry{
background-color: hotpink;
display: inline-block;
font-size: 20px;
padding: 20px;
}
