@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Twinkle+Star&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  transition: all 1s ease-in-out;
}

.container {
  display: flex;
  align-items: center;
}

.site {
  width:  100vw;
  height: 100vh;
  padding: 4vw;
  background-color: var(--secondary-color);
}

.active {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0%);
  transition: all 0.5s ease-in-out;
}

.closed {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
}

.exit {
  position: fixed;
  bottom: 20px;
  left: 18px;
  font-size: var(--icon-size);
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.exit:hover {
  transform: rotate(90deg);
}

.open:hover {
  transform: rotate(90deg);
}

.open {
  transition: all 0.3s ease-in-out;
  position: fixed;
  bottom: 20px;
  left: 18px;
  font-size: var(--icon-size);
  color: var(--primary-color)
}
.back {
  background-color: rgb(36, 32, 32);
  border-radius: var(--border-radius-less);
  width: 50%;
  height: 60%;
  color: white;
  font-weight: 400;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  font-size: calc(var(--plain-text) + 0.05);
}
.line{
  border: 1px solid rgb(82, 74, 74);
}
.element{
  padding: 1vw;
  margin-left: 2vw;
}
.themes{
  text-align: right;
  margin-bottom: 3vw;
margin-right: 3vw;}
