.main {
  background-color: var(--secondary-color);
  width: 50px;
  height: 100vh;
  min-width:75px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: var(--primary-font);
  transition: all 1s ease-in-out;
  box-shadow: 0 0 1em 1em #0101;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center ;
  margin-top: 30px;
}

.logoimg
{
  margin-top: 1vh;
  width: 55px;
  height: 100%;
}

.list {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  justify-content: center;
  gap: 6vh;
  height: 100vh;
}
.list li a, .list li
{
  color: var(--primary-color);
  text-decoration: none !important;
  font-size: 40px;
}

.drag
{
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 30px;
  -webkit-app-region: drag;
}
