.main {
  position:relative;
  background-color: var(--primary-color);
  width: 7%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font);
  transition: all 1s ease-in-out;
}

.logo {
  width: 90%;
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0.5vh;
}

.logoimg
{
  height: 100%;
  -webkit-app-region: drag;

}

.list {
  margin-top: 4vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  justify-content: space-around;
  padding: 40px;
  height: 100vh;
}
.list > li a
{
  text-decoration: none !important;
  font-size: 5vmin;
}

.main:hover {
  width: 15%;
}



