.main
{
  display: flex;
  flex-direction: column;
}
.inputs
{
    padding: 1vmax;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.inputs > input
{
    width: 50vw;
}
