.plus {
  background-color: rgb(12, 10, 10);
  border: none;
  color: white;
  padding: 0.13vh 1.23vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(var(--header)*0.9);
  border-radius: var(--border-radius-less);
  margin-left: 1.5vw;
  cursor: pointer;
}
.minus {
  background-color: rgb(12, 10, 10);
  border: none;
  color: white;
  padding: 0vh 1.4vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(var(--header)*1);
  border-radius: var(--border-radius-less);
  margin-left: 1vw;
}
.btnControl {
  display: none;
}
.btnControl + label {
  z-index: 25;
}
.btnControl:checked + label   {
color: red;
--header: calc(var(--header)*0.9)
}

