@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Righteous&family=Roboto&display=swap');

:root {
  --primary-color: #e7e7e7;
  --secondary-color: #3f3f3f;
  --accent-color: #e7e7e7;
  --secondary-accent-color: #111111;
  --primary-font: 'Roboto', sans-serif;
  --secondary-font:  'Montserrat', sans-serif;
  --shadow: #0101;
  --border-radius-less: 7px;
  --border-radius-more: 20px;
  --header: 1.5em;
  --plain-text: 1.15em;
  --icon-size: 40px;
}
