@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Righteous&family=Roboto&display=swap');


:root {
  --primary-color: #f73eb0;
  --secondary-color: #e3a7ff;
  --accent-color: #000000;
  --secondary-accent-color: #ffffff;
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
  --border-radius-less: 7px;
  --border-radius-more: 20px;
}
