@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Righteous&family=Roboto&display=swap');


:root {
  --primary-color: #00ff95;
  --secondary-color: #ffffff;
  --accent-color: #272727;
  --secondary-accent-color: #465856;
  --primary-font:  'Roboto', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
}
