@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Righteous&family=Roboto&display=swap');

:root {
    --primary-color: #0e0e0e;
    --secondary-color: #ffffff;
    --accent-color: #616161;
    --secondary-accent-color: #e4e4e4;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font:  'Montserrat', sans-serif;
    --shadow: #0101;
    --border-radius-less: 7px;
    --border-radius-more: 20px;
    --header: 1.5em;
    --plain-text: 1.15em;
    --icon-size: 40px;
}
