@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Righteous&family=Roboto&display=swap');


:root {
    --primary-color: #4d5d7a;
    --secondary-color: #cfcdca;
    --accent-color: #F5CEBE;
    --secondary-accent-color: #114E60;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
}
