@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Righteous&family=Roboto&display=swap');


:root {
    --primary-color: #FFE699;
    --secondary-color: #FFF9B6;
    --accent-color: #99800e;
    --secondary-accent-color: #FFCCD2;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
}
