@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Righteous&family=Roboto&display=swap');

:root {
    --primary-color: #1966ca;
    --secondary-color: #ffffff;
    --accent-color: #212121;
    --secondary-accent-color: #FF9B6A;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font:  'Montserrat', sans-serif;
    --shadow: #0101;
    --border-radius-less: 7px;
    --border-radius-more: 20px;
}
